#dc{
    float: left;
    margin: 20px;

}
#marvel{
    float: left;
    margin: 20px;

}
hr{
    color: rgb(1, 201, 167);
    border: solid;
    
}
#endgame{
    float: left;
    margin: 20px;
}
#strange{
    float: left;
    margin: 20px;
}
#gg{
    float: left;
    margin: 20px;
}
#thor{
    float: left;
    margin: 20px;
}
#spide{
    float: left;
    margin: 20px;
}
#wandavision{
    float: left;
    margin: 20px;
}
#loki{
    float: left;
    margin: 20px;
}
#what{
    float: left;
    margin: 20px;
}
#eye{
    float: left;
    margin: 20px;
}
#falcon{
    float: left;
    margin: 20px;
}
#h2{
    margin: 20px;
}
#hr2{
    color: rgb(107, 2, 206);
}
p{
    font-size: 20px;
   
   }
#titulo_prin{
    text-align: center;
}